@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-size: 15px ;
    box-sizing: border-box; 
    font-family: 'Inter', sans-serif;
}
body{
    background:hsl(233, 47%, 7%);
    color: white;
}
body{
    display:flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vh;
}

.container{
    background:hsl(0, 0%, 99%);
    height: 60%;
    width: 70%;
    display:flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

   
}

.right{
    /* background: url("./images/image-header-desktop.jpg")  ;
    background-position: center center;
    background-size: cover;      
    height: 100%;
    width: 50%;
    position: relative;  */
}
/* .right::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color:  rgba(86, 2, 138, 0.568); */

}
h1{
    font-weight: 700;
    font-size: 2rem;
}
i{
    font-style: normal;

}
h1 i{
    font-weight: 700;
    font-size: 2rem;
    /* color:  hsla(0, 0%, 100%, 0.75); */
    color:  hsl(277, 64%, 61%);
}
.left {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 50%;
    background-color: hsl(244, 38%, 16%);
    padding: 5rem;
}
p{
    font-size: 1rem;
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 2rem;
}
.grillStats{
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction:column;
    width: 100%;
    margin-right: 4rem;
}
.stats{

display:flex;
flex-wrap: nowrap;
justify-content: center;
align-items: flex-start; 
}

.stats i:first-child{
    font-size: 1.3rem;
    font-weight: 700 ;
    font-style: normal;
    margin-bottom: 0.5rem;


}

.stats i:last-child{
    font-size: 0.7rem;
    /* color: hsla(0, 0%, 100%, 0.75); */
    color: hsla(0, 0%, 100%, 0.6);
    text-transform: uppercase;
    font-family: 'Lexend Deca', sans-serif;
    letter-spacing: .1rem;
}



.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
@media (max-width:1200px) {
 .left{
     padding: 1rem;
 }
 .grillStats{
     margin-right: 1.5rem;
 }
    
}